<header>

  <div class="logo">
  	<a routerLink="/all" routerLinkActive="active" class="header--logo">Space X </a>
  </div>

  <ul class="header--nav">
    <li><a routerLink="/all" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">All launches</a></li>
    <li><a routerLink="/upcoming" routerLinkActive="active">Upcoming launches</a></li>
    <li><a routerLink="/past" routerLinkActive="active">Past launches</a></li>

  </ul>
</header>