.mission_patch_img img {
    width: 100%;
    max-width: 15vh;

}

.mission_name, .mission_starts_in {
  display: inline-block;                                   
}

.mission_starts_in { 
  margin-left: 25px;
}

.success, .failure {
  display: inline-block;                    
}

.success {
  color: green;          
}

.failure {
  color: red;          
}

.upcoming {
  color: darkgray;           
}

.launch_description {             
  text-align: justify;
}

.rocket_details {
  text-align: center;
}

.launches_page_header {
                         
    border-bottom: 2px dashed #eee;
    padding-bottom: 20px;
    margin-bottom: 25px;   

}

.single_rocket_page {
  font-weight: 600;
    border-bottom: 2px dashed #9999;
    padding-bottom: 5px;
}

.navigation_button {
    background: none;
    border: none;
    font-size: 21px;            
}

.navigation_button:disabled {
    color: #eee;                       
  }




@media (min-width: 789px){

.launches_page_header {
    display: flex;
    align-items: center;             
}

.flex-column {
    display: flex;
    flex-shrink: 0;
}
.divider {
    display: flex;
    flex: 1;
}

.launch {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}


}


@media (max-width: 500px) {


    .mission_name {
      text-align: center;
      display: block;
    }

    .mission_starts_in {
      margin: 0 0 25px;
    }

    .launch {
      border-bottom: 2px dashed #eee;
      padding-bottom: 40px;
      margin-bottom: 40px;
    }

    .launch .mission_patch_img, .launches_page_header{
      text-align: center;
    }

    .rocket_details {
      margin-top: 25px;
    }
}

