<div class="launches_page_header">
   
    <div class=flex-column>
        <div><h1> {{title }} </h1></div>
    </div>

    <div class="divider"></div>
    <div class=flex-column>

<div class="navigation">
     <button class="navigation_button previous"
     [disabled]="isLoading || params.offset < params.limit"
     (click)="handleOffset(params.offset - params.limit)"
     >
      « Previous page
     </button>

     <button class="navigation_button next"
     [disabled]="isLoading || !!max && params.offset >= max - params.limit"
     (click)="handleOffset(params.offset + params.limit)">
     Next page »
     </button>

   </div>

</div>

</div>


<div class="launches-container">

<div class="launches_block">
   <ng-container *ngIf="isLoading else showLaunches">
      <div class="launch" *ngFor="let key of [1,2,3,4,5]">
         <div class="col-lg-2">
            <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ height: '100px',width: '100px', display: 'block', margin: '20px auto'}"></ngx-skeleton-loader>
         </div>

         <div class="col-lg-7 mission_details">
            <ngx-skeleton-loader class="halfLineLoadingStyle"></ngx-skeleton-loader>
            <ngx-skeleton-loader class="fullLineLoadingStyle" count="3"></ngx-skeleton-loader>
         </div>
         <div class="col-lg-3 rocket_details">
            <ngx-skeleton-loader class="fullLineLoadingStyle"></ngx-skeleton-loader>
         </div>
      </div>
   </ng-container>

   <ng-template #showLaunches>
      <div class="launch launch-{{launch.flight_number}}"
      *ngFor="let launch of launches"
      >
      <div class="col-lg-2">
         <div *ngIf="!!launch.links.mission_patch; else placeholderImg">
            <div class="mission_patch_img"> <img src="{{launch.links.mission_patch}}" alt="" /> </div>
         </div>
         <ng-template #placeholderImg>
            <div class="mission_patch_img"> <img src="/assets/images/placholder_img_patch.png" alt="" /> </div>
         </ng-template>
      </div>
      <div class="col-lg-7 mission_details">
         <div class="mission_name" >
            <h3 [ngClass]="{success: launch.launch_success, failure: !launch.launch_success, upcoming: willLaunch}"> {{launch.mission_name}} </h3>
            <span style="font-weight:bold;" class="mission_starts_in">{{diffBetweenDates(launch.launch_date_utc)}} </span> 
         </div>
         <div class="launch_details">
            <div *ngIf="!!!launch.details; else elseBlock"> There are no details about this launch :)  </div>
            <ng-template #elseBlock>
               <p class="launch_description">{{launch.details}}</p>
            </ng-template>
         </div>
      </div>
      <div class="col-lg-3 rocket_details">
         <span class="rocket_name">
         <span> Rocket:  </span> <a class="single_rocket_page" [routerLink]="['/rocket', launch.rocket.rocket_id]">{{launch.rocket.rocket_name}} </a>
         </span>
      </div>
</div>
</ng-template>