<app-header> </app-header>

<div class="main_content">

<div class="container-fluid">

   <div class="row">
      <div class="col-lg-12">

        <router-outlet></router-outlet>

      </div>
   </div>
</div>

</div>