@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
	font-family: Ubuntu;
}

header {
	width: 100%;
    background-color: #F9EFD8;
    padding: 1.5rem 8rem 1.5rem 8rem;
    font-size: 1.25rem;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;


  .header--logo {
  	font-size: 24px;
  	font-weight: 600;
  }
}

a, a:hover {
  text-decoration: none;
  color: #333;

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  li {
    padding: 0 1rem;
    //background: rgba(green, .3);
    //padding: .5rem 1rem;
  }
}

.logo {
  flex: 1 0 auto;
  order: 10;
}

.header--nav {
  flex: 0 1 auto;
  order: 20;

  li a {
  	font-size: 16px;
  	font-weight: 500;
  }
}


.main_content {
	padding-top: 120px;
  margin-bottom: 60px;
}

.loader.progress:focus {
	outline: 0;
}

.halfLineLoadingStyle .loader.progress {
     width: 50%;
     border-radius: 0px;
     height: 15px;
}

.fullLineLoadingStyle .loader.progress {
     width: 100%;
     border-radius: 0px;
     height: 15px;
}

.container-fluid {
	max-width: 1350px;
    margin: 0 auto;
}

.header--nav li a.active {
    border-bottom: 2px dashed #999;
    padding-bottom: 5px;            
 }

 a:focus {
  outline: 0;
  text-decoration: none;
}



@media (max-width: 500px) {

  header {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;             
  }

  header::-webkit-scrollbar {    display: none;}

  header .logo {
    margin-right: 20px;
    min-width: 290px;
    margin-left: 0;
    width: 100%;
    text-align: right;

    }

    .main_content {
      padding-top: 80px;
    }

}

