<ng-container *ngIf="error; else showRocketDetails">
   <page-not-found></page-not-found>
</ng-container>

<ng-template #showRocketDetails>
   <ng-template [ngIf]="isLoading" [ngIfElse]="loaded">
   <div class="launch">
      <div class="col-lg-6">
         <ngx-skeleton-loader class="halfLineLoadingStyle"></ngx-skeleton-loader>
         <ngx-skeleton-loader class="fullLineLoadingStyle" count="3"></ngx-skeleton-loader>
      </div>
      <div class="col-lg-6 rocket_details">
         <ngx-skeleton-loader [theme]="{ 
         'height': '100%'
         }"count="4" class="box rocketGallery"></ngx-skeleton-loader>
      </div>
   </div>
</ng-template>
</ng-template>

<ng-template #loaded>
   <span class="goBackButton" (click)="goBack()"> Go back  </span>
   <div id="single_rocket_details">
      <div class="row">
         <div class="col-lg-6">
            <h1 class="rocket_name"> {{ rocket['rocket_name'] }} </h1>
            <span> Open in : <a href="{{ rocket['wikipedia']}}" target="_blank">Wikipedia</a> </span>
            <div class="rocket_description"> 
               {{ rocket['description'] }}
            </div>
         </div>
         <div class="col-lg-6">
            <div class="rocketGallery">
               <div class="rocket_img" *ngFor="let img of rocket['flickr_images']">
                  <div class="rocket_img"> <img src="{{img}}" alt="{{ rocket['rocket_name'] }}" /> </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
</ng-template>