.error_message {
	text-align: center;
}

.bigh1 {
	font-size: 48px;
}

.rocket_img img {
	width: 100%;
}

.rocket_description {
	margin-top: 20px;
}

.rocket_img img{
	margin-top: 20px;
}


.rocketGallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.rocketGallery img {
  width: 100%;
  height: 200px;
}

.box {
	height: 280px;
}

.goBackButton {
	border-bottom: 2px dashed #eee;
    padding-bottom: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
}
